/* ----------------------WHOLE APP----------------------- */

hr.fade-away {
    background: linear-gradient(to right, rgba(133,247,160,1) 0%,rgba(133,247,160,0.12) 100%);
    width: 75%; 
    border: none; 
    height: 2px; 
}

#no-margins {
    margin: 0;
    padding: 0; 
    background-color:#f9f9f9 ; 
    max-width: 100%;
    min-width: 100%;  
}

#background {
    background-color: #212e44; 
    background-image: url("blurred_lines.jpeg");
    background-size: cover;  
}

/*-------------------------- SEARCH BAR -------------------------- */
.white-color {
    color: #f9f9f9; 
}

#h1-font {
    font-family: 'Arima Madurai', cursive;
    font-weight: 500; 
}

#big-search-bar {
    min-height: 80px; 
}

#jumbotron-color {
    background-color: #212e44; 
}

.links-div {
    width: 100%; 
    top: 0;
    position: relative;
}

#tmdb {
    width: 30px; 
    height: 30px; 
    position: absolute;
    right: 2%; 
    top: -20px;  
}

#imdb {
    width: 45px; 
    height: 30px; 
    position: absolute;
    right: 6%; 
    top: -20px; 
}
/*SMALL SCREEN*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
    #tmdb {
        right: 1%; 
    }
    #imdb {
        right: 15%; 
    }
}

/* MEDIUM SCREEN*/
@media only screen and (min-width: 501px) and (max-width: 1025px) {
    #tmdb {
        width: 60px; 
        height: 60px;
        right: 1%; 
    }
    #imdb {
        width: 85px; 
        height: 60px; 
        right: 15%; 
    }
}


/*  -------------------------- QUOTE DIV -------------------------- */
#charlie {
    position: relative;
    left: 10px;
    top: -30px; 
}

.quote {
    background-color: #85f7a0; 
    padding: 0;
    margin: 0; 
    min-width: 100%; 
    min-height: 120px;
    position: relative;
    top: -60px; 
}

/*SMALL SCREEN*/
@media only screen and (max-width: 416px) {
    #charlie {
        position: relative; 
        left: -35px; 
        height: 150px; 
        width: 150px; 
    }
}

/* -------------------------- MOVIE DETAIL -------------------------- */
#row {
    background-color: rgba(255,255,255,0.4)
}


#h4-font {
    font-size: 2em;
    font-weight: 400; 
    color: #212e44; 
    text-shadow: 0.5px 0.5px 0.5px #f9f9f9; 
}

/* .fa-trophy {
    color: #fffa82; 
    margin-left: 60px; 
} */

.title {
    color: #212e44;
    margin: auto; 
    letter-spacing: 3px; 
    font-size: 2em; 
    text-align: center;  
}

.tagline {
    color: #212e44; 
    margin: auto; 
    font-weight: 200; 
}

.genre {
    color: #212e44; 
    margin: auto; 
    font-weight: 200; 
}

.country {
    color: #212e44; 
    margin: auto; 
    padding: 20px 0; 
    font-weight: 200; 
}

.poster {
    border: 1px solid #212e44; 
    border-radius: 0.25rem;  
}

.overview {
    color: #212e44; 
    font-size: 1.3rem; 
    margin: auto; 
    padding-top: 10px; 
    font-weight: 400; 
}


/* -------------------------- MOVIE LIST -------------------------- */
#list-group-item {
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    color: #212e44;     
    border: 1px solid rgba(255,255,255,0.3); 
}

#list-group-item:hover {
    background-color: rgba(255,255,255,0.8);
    color: #000000; 
    font-weight: 500; 
}

.list-group {
    padding-right: 0 !important; 
}

.img-responsive {
    margin: 0 auto;
}

.margin-auto {
    margin: auto; 
}

#button {
    border: none; 
    animation-name: color_change;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse; 
}


@-webkit-keyframes color_change {
    0% { background-color: #dcf785; }
    25% { background-color: #85f7a0; }
    50% { background-color: #a085f7; }
    75% { background-color: #f785dc; }
    100% { background-color: #f785a3; }
}
@-moz-keyframes color_change {
    0% { background-color: #dcf785; }
    25% { background-color: #85f7a0; }
    50% { background-color: #a085f7; }
    75% { background-color: #f785dc; }
    100% { background-color: #f785a3; }
}
@-ms-keyframes color_change {
    0% { background-color: #dcf785; }
    25% { background-color: #85f7a0; }
    50% { background-color: #a085f7; }
    75% { background-color: #f785dc; }
    100% { background-color: #f785a3; }
}
@-o-keyframes color_change {
    0% { background-color: #dcf785; }
    25% { background-color: #85f7a0; }
    50% { background-color: #a085f7; }
    75% { background-color: #f785dc; }
    100% { background-color: #f785a3; }
}
@keyframes color_change {
    0% { background-color: #dcf785; }
    25% { background-color: #85f7a0; }
    50% { background-color: #a085f7; }
    75% { background-color: #f785dc; }
    100% { background-color: #f785a3; }
}

.hidden {
    display:none;
 } 

 .show {
    display:block;
 }

 /* -------------------------- FOOTER -------------------------- */
 .footer {
     margin: 2px auto; 
     background-color: #212e44; 
 }

 .footer p {
     color: #f9f9f9;
     margin-left: 2%;
     text-align: center; 
     font-size: 0.7rem;
     font-weight: 200; 

 }
