/* .transbox {
    width: 1080px;
    height: 600px;
    position: relative; 
    margin: auto;
    padding: 0; 
    background-color: #ffffff;
    background-image: url(https://images.unsplash.com/photo-1460881680858-30d872d5b530?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f3dcd650e05c0433c49eb626ee0c2546); 
    z-index: -1;
    /* background-size: 900px;
    background-position-y: -90px; */

.searchbar {
    opacity: 0.9;
    z-index: 1;   
    top: 50px;
    margin: auto;
    width: 1080px; 
}

.list-group-item {
    cursor: pointer; 
}

.list-group-item:hover {
    background-color: #eee;
}

.img-responsive {
    margin: 0 auto;
}

hr {
	width: 600px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2); 
}

.hidden {
    display:none;
 } 

 .show {
    display:block;
 }
