/* WHOLE APP */
hr {
    width: 75%; 
	border-top: 1px solid #85f7a0 !important;
	border-bottom: 1px solid rgba(0,0,0,0.2) !important; 
}

#no-margins {
    margin: 0;
    padding: 0; 
    background-color:#f9f9f9 ; 
    max-width: 100%;
    min-width: 100%;  
}

#background {
    background-color: #212e44; 
}

/* SEARCH BAR */
.white-color {
    color: #f9f9f9; 
}

#h1-font {
    font-family: 'Arima Madurai', cursive;
    font-weight: 500; 
}

#big-search-bar {
    min-height: 80px; 
}

#jumbotron-color {
    background-color: #212e44; 
}

#charlie {
    position: relative;
    left: 10px;
    top: -30px; 
}

/*  QUOTE DIV */
.quote {
    background-color: #85f7a0; 
    padding: 0;
    margin: 0; 
    min-width: 100%; 
    min-height: 120px;
    position: relative;
    top: -60px; 
}

/* MOVIE DETAIL */

#h4-font {
    font-size: 2em;
    font-weight: 300; 
    color: #f9f9f9; 
}

/* .fa-trophy {
    color: #fffa82; 
    margin-left: 60px; 
} */

.title {
    color: #f9f9f9;
    margin: auto; 
    letter-spacing: 3px; 
    font-size: 2em; 
    text-align: center;  
}

.tagline {
    color: #f9f9f9; 
    margin: auto; 
    font-weight: 200; 
}

.genre {
    color: #f9f9f9; 
    margin: auto; 
    font-weight: 200; 
}

.country {
    color: #f9f9f9; 
    margin: auto; 
    padding: 20px 0; 
    font-weight: 200; 
}

.poster {
    border: 1px solid #212e44; 
    border-radius: 0.25rem;  
}

.overview {
    color: #f9f9f9; 
    margin: auto; 
    padding-top: 10px; 
    font-weight: 200; 
}


/* MOVIE LIST */
#list-group-item {
    cursor: pointer;
    background-color: #212e44;
    color: #f9f9f9;     
    border: 1px solid #b7fac7; 
}

#list-group-item:hover {
    background-color: #5a7f8c;
    color: #000000; 
    font-weight: 500; 
}

.img-responsive {
    margin: 0 auto;
}

.margin-auto {
    margin: auto; 
}

#button {
    background-color: #85f7a0;
    border: 1px solid #85f7a0; 
}

.hidden {
    display:none;
 } 

 .show {
    display:block;
 }
