.list-group-item {
    cursor: pointer; 
}

.list-group-item:hover {
    background-color: #eee;
}

.img-responsive {
    margin: 0 auto;
}

hr {
	width: 600px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2); 
}

.hidden {
    display:none;
 } 

 .show {
    display:block;
 }
